core/*/target/
core/*/dependency-reduced-pom.xml
pruned/
instrumentor-log-*.txt
instrumentor-events-*.txt
/event_dictionary.txt
/comment-mapping.txt
/final-output-calltree.json
/final-output-combined.json
/final-output-happensbefore.json
/final-output-calltree.md
/final-output-combined.md
/final-output-happensbefore.md
**/target/
target-folders.txt
AI_Bug_Localization_Prompt.md
enginerring/ask-llm/output.md
enginerring/ask-llm/get_fix_solution/AI_Apply_Fix_Prompt.md
enginerring/ask-llm/general/output.md
enginerring/ask-llm/general/.env
enginerring/ask-llm/.env
enginerring/fix-bug/AI_Apply_Fix_Prompt.md
current_project
__pycache__/
projects/
denosied_data/
enginerring/ask_llm/dependency_prompt.txt
